body {
	background: white;
}

h1 {
	text-align: center;
}

h1 span {
	color: white;
	background: #333;
	padding: .25em .5em;
	letter-spacing: 2px;
}

a {
	margin: 5em;
	color: #111;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
}

img {
	width: 100%;
	border-radius: 5px;
}

main {
	max-width: 500px;
	margin: 0 auto;
}